{% extends "Layout/layout.html" %}

{% block titulo %} Index {% endblock %} 

    {% block content %}
      <article class="content__center">
          <h1 class="content__center--title">Palmera bike</h1>
          <p class="content__center--parrafo">
            Queremos ofrecer el mejor servicio en palmira a la hora de adquirir
            uno de los productos que tenemos para ti.
          </p>
        </article>
        <article class="contenido__descripcion--articulo">
          <div class="contenido__descripcion--articulo-parrafo">
            <p class="">
              Componentes útiles para mejorar el rendimiento de tu bicicleta
            </p>
            <span>Envios a todo el pais</span>
          </div>
          <div class="contenido__ilustrativo--derecha">
            <figure class="contenido__descripcion--imagen">
              <img
                src="public/dist/assest/bicycle1280.jpg"
                alt="componenete"
                width="480"
              />
            </figure>
          </div>
        </article>
        <section class="articulos">

          <article class="articulos__venta">
            <div class="articulos__venta--modelo">
              <span class="articulos__venta--precio"> $ 800.000 </span>
              <figure class="articulos__venta--imagen">
                <img
                  src="https://cdn.pixabay.com/photo/2020/04/06/19/56/bicycle-5011079_150.jpg"
                  alt=""
                  width="350"
                />
              </figure>
              <p class="articulo__venta--descripcion">
                MTB Venzo Talla M, Rin 29
              </p>
            </div>
          </article>
          <article class="articulos__venta">
            <div class="articulos__venta--modelo">
              <span class="articulos__venta--precio"> $ 800.000 </span>
              <figure class="articulos__venta--imagen">
                <img
                  src="https://cdn.pixabay.com/photo/2020/04/06/19/56/bicycle-5011079_150.jpg"
                  alt=""
                  width="350"
                />
              </figure>
              <p class="articulo__venta--descripcion">
                MTB Venzo Talla M, Rin 29
              </p>
            </div>
          </article>
          <article class="articulos__venta">
            <div class="articulos__venta--modelo">
              <span class="articulos__venta--precio"> $ 800.000 </span>
              <figure class="articulos__venta--imagen">
                <img
                  src="https://cdn.pixabay.com/photo/2020/04/06/19/56/bicycle-5011079_150.jpg"
                  alt=""
                  width="350"
                />
              </figure>
              <p class="articulo__venta--descripcion">
                MTB Venzo Talla M, Rin 29
              </p>
            </div>
          </article>
        </section>
        <section class="contenido__paisaje">
          <article class="contenido__paisaje--imagen">
            <figure class="contenido__paisaje--imagen-figure">
              <img src="https://www.webtenerife.com/es/que-hacer/rutas/mountainbike/lists/galeriamultimediatenerife/bc-1.8-4gal.jpg" alt="Inpiracion" width="700px">
            </figure>
            <p class="contenido__paisaje--parrafo">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus iusto maxime totam ea atque sapiente iste minima, voluptates inventore, impedit sed illum dolore,     
            </p>
          </article>
        </section>
      </section>
    {% endblock %}