{% extends "Layout/layout.html" %} 
    {% block titulo %} Nosotros {% endblock %} 
    
    {%block content %} 
    <section class="content">
        <h1 class="nosotros__titulo">Nuestra historia</h1>
        <p class="nostros__historia">
            Misión: Proveer bicicletas, repuestos y accesorios con el mejor servicio y asesoría a los usuarios del ciclismo atendiendo sus requerimientos y ofreciéndole buenos productos alcanzando la satisfacción de nuestros clientes.
            Visión: Consolidarnos en el 2025 como una de las principales empresas en el Valle del Cauca que comercializa bicicletas, repuestos y accesorios, destacándonos por nuestra seriedad, calidad y servicio al cliente, lo que nos permitirá ser más competitivos.
        </p>

    </section>
       
    {% endblock %}
