.footer{
    background-color: var(--fondo1);
    /* height: 50vh; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: 100px;
    column-gap: 10px;
    color:var(--colorBlanco);
    /* padding-top:15px ; */
}


.footer__logo {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;

}

.footer__social a{
    @extend  .header__navbar--a;
    padding:0.7em;
    position: relative;
    left: 2.4em;
    font-size:18px;
}

.footer__palmera {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    align-text:center;
    
    &--title{
        color: var(--fondo);
        padding:0.8em;
    }
}

.footer__palmera > span{
    color: var(--fondo);
    display: flex;
    padding: .5em;
    align-items:center;
}

.footer__empresa{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.footer__politicas{
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.footer__creado{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 4;
}