/* variables */

:root{

    --fondo:#f6f5f5;
    --fondo1: #1a1a2e;
    --aceptar:#81b214;
    --cancelar:#ec0101;
    --colorLetraP:#1b262c;
    --colorNegro:black;
    --prueba1:#16213e;
    --prueba2:#0f3460;
    --colorBlanco:#fff;


}

/* variables */