<!DOCTYPE html>
<html lang="es">
  <head>
  {% block head %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-compatible" content="ie=edge" />
    <meta name ="description" content="Venta de bicicletas y componentes MTB y ruta"/>
    <meta name="robots" content="index,follow"/>
    <link href="public/dist/css/style.css" rel="stylesheet" type="text/css">
    <title>{% block titulo %}{% endblock %}</title>
  {% endblock %}
  </head>

  <body>
  {% block header %}
      <header class="header">
      <div class="header__expand">
        <figure class="header__img">
          <img
            class="header__img--logo"
            src="public/dist/assest/PALMERA_BIKE_LOGO_blanco.png"
            alt="Logo"
            width="120"
          />
        </figure>
        <nav class="header__navbar">
          <ul class="header__navbar--ul">
            <li class="header__navbar--li">
              <a href="/palmeraBike/" class="header__navbar--a">Home</a>
            </li>
            <details class="header__detail">
              <summary class="header__detail--titulo">Productos</summary>
              <ul class="header__navbar--items">
                <li class="header__navbar--li">
                  <a href="#" class="header__navbar--a">Bicicletas</a>
                </li>
                <li class="header__navbar--li">
                  <a href="#" class="header__navbar--a">Componentes</a>
                </li>
                <li class="header__navbar--li">
                  <a href="#" class="header__navbar--a">Accesorios</a>
                </li>
              </ul>
            </details>
            <li class="header__navbar--li">
              <a href="/palmeraBike/nosotros" class="header__navbar--a">Nosotros</a>
            </li>
            <li class="header__navbar--li">
              <a href="/palmeraBike/contacto" class="header__navbar--a">Contacto</a>
            </li>
            <details class="header__detail">
              <summary class="header__detail--titulo">Mi cuenta</summary>
              <ul class="header__navbar--items">
                <li class="header__navbar--li">
                  <a href="/palmeraBike/Logout" class="header__navbar--a">Iniciar sesion</a>
                </li>
                <li class="header__navbar--li">
                  <a href="#" class="header__navbar--a">Registrarse</a>
                </li>
              </ul>
            </details>
          </ul>
        </nav>
      </div>
    </header>
  {% endblock %}



    {% block content %}

    {% endblock %}
 
    {% block footer %}
    <footer class="footer">
        <section class="footer__logo">
            <figure class="footer__img">
            <img
                class="footer__img--logo"
                src="public/dist/assest/PALMERA_BIKE_LOGO_blanco.png"
                alt="Logo"
                width="200"
            />
            </figure>
            <article class="footer__social">
            <a
                href="https://www.facebook.com/profile.php?id=100035231658672"
                target="_blank"
                ><i class="icon-facebook2"></i
            ></a>
            <a
                href="https://www.instagram.com/palmerabike/?hl=es-la"
                target="_blank"
                ><i class="icon-instagram"></i
            ></a>
            <a href="#"><i class="icon-twitter"></i></a>
            </article>
        </section>
        <section class="footer__palmera">
            <h3 class="footer__palmera--title">
            Palmera Bike | Servicio al cliente
            </h3>
            <h4 class="footer__palmera--title-encuentra">
            Encuentra los mejores productos, marcas, repuestos y accesorios
            </h4>
            <h4 class="footer__palmera--title-ayuda">¿ Como podemos ayudarte ?</h4>
            <span class="icon-mobile2 footer__palmera--icon">
            <i> (312) 747 0718</i></span
            >
            <span class="icon-mail4 footer__palmera--icon">
            <i>palmerabike@gmail.com</i></span
            >
            <span class="icon-location2 footer__palmera--icon">
            <i> Cll 34a # 15 - 107 | (Palmira - Valle) </i></span
            >
        </section>
        <section class="footer__empresa">
            <h4 class="footer__empresa--title">Empresa</h4>
            <p class="footer__empresa--descripcion">
            Somos una tienda Online especializada en la venta de bicicletas (MTB y
            ruta) y sus respectuvios componentes y/o accesorios, te creamos un
            aplicativo web para que.....
            </p>
        </section>
        <section class="footer__politicas">
            <h4 class="footer__politicas--title">Politicas</h4>
            <nav class="footer__politicas--nav-item">
            <ul class="footer__politicas--ul">
                <li class="footer__politicas--li">
                <a href="#" class="footer__politicas--ul-a"
                    >Politicas de devolucion</a
                >
                </li>
                <li class="footer__politicas--li">
                <a href="#" class="footer__politicas--ul-a"
                    >Politicas de privacidad</a
                >
                </li>
                <li class="footer__politicas--li">
                <a href="#" class="footer__politicas--ul-a"
                    >Politicas de envio</a
                >
                </li>
                <li class="footer__politicas--li">
                <a
                    href="https://www.sic.gov.co/"
                    class="footer__politicas--ul-a"
                    target="_blank"
                    >SIC</a
                >
                </li>
            </ul>
            </nav>
        </section>
        <section class="footer__creado">
            ©Copyringt 2020 ®PalmeraBike | Gustavo Muñoz
        </section>
        </footer>
    {% endblock %}
  </body>
</html>
